@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  margin: 0;
}

html, body{
	width:100%;
	height:100%;
  overflow-y: scroll;
  background: #191930;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* -------------------------------- */

/* ----------- elements ---------- */

h1, h2, h3, h4, h5, p {
  color: white;
  font: 500 13px "helvetica neue", helvetica, arial, sans-serif;
}

a {
  color: #039be5;
  text-decoration: none;
}

a:active {
  color: #1BB3D7;
}

/* -------------------------------- */

/* ------------ body ------------ */



.typewrite
{
  position: relative;
  margin-left: 45%;
  font-family: 'Roboto' !important;;
  font-weight: 200 !important;;
  font-size: 180% !important;;
  pointer-events: none !important;;
  cursor: default !important;;
  letter-spacing: 2px;
}

.typewriter a
{
  color: white
}

.content {
  position: fixed;
}

/* -------------------------------- */
